<div class="body" style="background-color: gray;">

      <div class="grid" *ngFor="let home of homes">
        <div class="grid__item">
          <div class="card"><img class="card__img" [src]="home.home"  alt="Snowy Mountains">
            <div class="card__content">
              <h1 class="card__header">{{home.name}}</h1>
              <p class="card__text">{{home.des}} </p>
              <button class="card__btn" (click)="onShowhomedetailsClick(home.id)">View Details <span>&rarr;</span></button>
            </div>
          </div>
        </div>
    </div>
</div>